.divMyLink {
  padding: 10px 5px;
  text-align: center;
  display: flex;
  border-bottom: 1px solid #eee;
  justify-content: center;
}
.divMyLink .MyLink {
  font-family: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: 300px;
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

.divMyLink .MyLink > div {
  justify-content: center;
}
