.App {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #bebebe;
}
.App .Header {
  padding: 10px 5px;
  display: flex;
  border-bottom: 1px solid #eee;
}
.App .text {
  padding: 10px 5px;
  display: block;
  text-align: center;
  border-bottom: 1px solid #eee;
}
.App .Header input {
  font-family: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: 300px;
  border: none;
  padding-left: 10px;
  width: 100%;
}
.App .Header input:focus {
  outline: none;
}
.App .BtnOptionClick {
  font-family: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: 300px;
  border: none;
  width: 100%;
  display: flex;
}
.App .BtnOptionClick > button {
  width: calc(100% / 3);
  justify-content: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
